/* GENERAL SETTİNGS START */


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* GENERAL SETTİNGS END */


:root{

  /* COLOR */
  --clr-wht:hsl(0, 0%, 100%);
  --clr-stn100:hsl(30, 54%, 90%);
  --clr-stn150:hsl(30, 18%, 87%);
  --clr-stn600:hsl(30, 10%, 34%);
  --clr-stn900:hsl(24, 5%, 18%);
  --clr-brwn:hsl(14, 45%, 36%);
  --clr-rose50: hsl(330, 100%, 98%);
  --clr-rose800:hsl(332, 51%, 32%);

  /* TYPOGRAPHY */
  --outfit:"Outfit", sans-serif;
  --young-serif: "Young Serif", serif;

  --font-size: 1.7rem;
  --letter-spacing:0.1rem;
  --font-weight:500;
  --line-hght:2rem;

  /* BOTTOM */

  --brdr-bttm:1px solid var(--clr-stn150); 
}

/* STYLE START */
body{
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  background-color:var(--clr-stn100) ;
}
.container{
  max-width: 47rem;
  padding: 2rem;
  background-color:var(--clr-wht) ;
  border-radius: 1rem;
  margin-top: 4rem;
}
img{
  width: 100%;
  border-radius: 1rem;
}
h1,h3{
  font-family:var(--young-serif) ;
}
p{
  color: var(--clr-stn600);
}

/* LİST ONE PREPARATİON */
.list-one{
  padding: 0.5rem 0rem;
  background-color:var(--clr-rose50) ;
  border-radius: 1rem;
  margin: 1rem 0rem;
  line-height: var(--line-hght);
  color:var(--clr-stn600);
}
.list-one h2{
  color: var(--clr-rose800);
  padding: 0rem 1.4rem;
  font-size: 1.2rem;
}

/* LİST TWO AND THREEE INGREDİENTS AND INSTRUCTİONS */
.list-two,.list-three{
  line-height: var(--line-hght);
  color:var(--clr-stn600);
  margin: 2rem 0rem;
  border-bottom: var(--brdr-bttm);
}

/* H3 */
h3{
  color: var(--clr-brwn);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
}

/* LİSTS */
ol li::marker{
  font-size: 1.1rem;
  color: var(--clr-brwn);
  font-weight: 800;
}
ul li::marker{
  font-size: 0.8rem;
  color: var(--clr-brwn);
}

/* TABLE */
table{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
tr{
  display: flex;
}
.table tr td{
  padding: 1rem 0rem;
  flex-basis: 50%;
  color: var(--clr-stn600);
  border-bottom: var(--brdr-bttm);
}
.table tr td:first-of-type{
  padding-left: 2rem;
}
.table tr td:last-child{
  font-weight: bold;
  color: var(--clr-brwn);
}

/* ATTRİBUTİON */
.attribution {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1rem;
}
.attribution a {
  color: var(--clr-brwn);
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 900px) {

  .container {
      padding: 1rem;
      margin-top:2rem
  }

  img {
      width: 95%;
      margin: 20px auto; 
      border-radius: 10px;
  }

  h1{
      font-size: 45px;
      margin: 0 30px;
  }
}
